#menu, .menu {
  background: #777;
}
#menu a, .menu a {
  background: #88e2df;
  color: black;
}
#menu a.updated, .menu a.updated {
  background: #e9aab5;
  color: black;
}
#menu a.updated:hover, .menu a.updated:hover {
  background: #acc5e9;
}
#menu a:hover, .menu a:hover {
  color: black;
  background: white;
}
#menu a.active, .menu a.active {
  color: black;
  background: white;
}

#menu2 {
  background: #444;
  border-bottom: 1px solid white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#menu2 a {
  background: #88e2df;
  color: black;
}
#menu2 a:hover {
  color: black;
  background: white;
}
#menu2 a.active {
  color: black;
  background: white;
}

.link:hover, .linkSmall:hover {
  color: black;
  background: white;
}

.notificationTriangle {
  border-bottom: 12px solid white;
}

.dropdownHolder {
  color: black;
  background: white;
  border: 1px solid black;
  border-bottom: 3px solid black;
}
.dropdownHolder td {
  color: black;
}
.dropdownHolder th {
  color: black;
}

.linkSmallHover {
  color: black;
  background: white;
  border: 1px solid black;
}

#log {
  color: white;
}

#titleContainer {
  color: black;
  background: #eee;
}

.backgroundForSideBarMenu {
  background: #eee;
  color: black;
}
.backgroundForSideBarMenu td {
  color: black;
}

.popupForInfo {
  background: #eee;
  border: 1px solid white;
  color: black;
}

.currentWindowNum {
  color: white;
}

.backgroundForMenus {
  background: #777;
}

.sidebarCurrentWindowNum {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
  color: black;
}

.currentWindowNumSelected {
  color: white;
  background: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.settingsDiv {
  background: #444;
  border: 1px solid white;
}

/*has to be here to override*/
.settingsDivRemoveTop {
  border-top: 0;
}

#log div {
  padding: 0.25em 1em;
}

.settingsDiv {
  margin: 10px;
  margin-top: 0;
}

.settingsDivRemoveBottom {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*end has to be here to override*/
.settingsHeader {
  background: #777;
  color: white;
}
.settingsHeader .linkSmall:hover {
  border: 1px solid black;
}
.settingsHeader button {
  background: #88e2df;
  border: solid 1px white;
  color: white;
}
.settingsHeader button:hover {
  border: 1px solid black;
  color: black;
  background: white;
}

.settingsDiv p a {
  color: white;
}

.link {
  background: #88e2df;
  border: solid 1px white;
  color: white;
}

.linkSmall {
  background: #88e2df;
  border: solid 1px white;
  color: white;
}

.selected, .selectDropdown:hover {
  background: white;
  color: black;
}

.context-menu {
  background: #88e2df;
  border: 1px solid white;
  box-shadow: 0 0 5px black;
}

.context-menu__item:hover {
  background: white;
}
.context-menu__item:hover a {
  color: black;
}
.context-menu__item a {
  color: white;
}

.dropdown-content {
  background: #88e2df;
  border: 1px solid white;
  box-shadow: 0 0 5px black;
}
.dropdown-content a {
  color: white;
}
.dropdown-content a:hover {
  color: black;
}

.dropdown-content__item:hover {
  background: white;
}

.loadingSpinner {
  background: #444;
  border: 1px solid white;
}

.selectDiv {
  background: #88e2df;
  border: 1px solid white;
}
.selectDiv select {
  color: white;
}
.selectDiv option {
  color: black;
}

/* Track */
::-webkit-scrollbar-track {
  background: #777;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.fullScreenMenuUL {
  background: black;
  border-right: 1px solid white;
}
.fullScreenMenuUL li {
  background: black;
  color: white;
}

.fullScreenMenuLeftSidebar {
  background: black;
  border-right: 1px solid white;
}
.fullScreenMenuLeftSidebar div {
  background: black;
  color: white;
}
.fullScreenMenuLeftSidebar td {
  background: black;
  color: white;
}
.fullScreenMenuLeftSidebar a {
  color: white;
}
.fullScreenMenuLeftSidebar a:visited {
  color: white;
}

.settingsUlSub {
  background: black;
  border-right: 1px solid white;
}

.notificationPreviewLog {
  border: 1px solid white;
}

.noNotificationsNotification {
  background-color: #444;
  color: white;
}

.log table:not(.oneLogTable):not(.logCode) tr:not(.highlight):not(.newLine) td:not(.highlight):not(.newLine) div.settingsDiv {
  color: white;
}

.themeDiv {
  background: black;
  color: white;
}

#menu {
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-image: -moz-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: -webkit-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: -o-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
}

#menu2 {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#menu a, #menu2 a {
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(30%, #f6f6f6), color-stop(45%, #f3f3f3), color-stop(60%, #ededed), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  border-radius: 50px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5) inset, 0 2px 5px rgba(0, 0, 0, 0.7);
}

#menu a:hover, #menu a.active, #menu2 a:hover, #menu2 a.active, .link:hover, .linkSmall:hover, .settingsHeader button:hover {
  background: -moz-linear-gradient(left, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: #acc5e9;
  background: -moz-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #acc5e9), color-stop(18%, #a3c0f2), color-stop(39%, #61a0ed), color-stop(70%, #55a3f2), color-stop(92%, #82c2f1), color-stop(100%, #9ad2f2));
  background: -webkit-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: -o-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: -ms-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: linear-gradient(to bottom, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
}

.linkSmallHover {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5) inset, 0 2px 5px rgba(0, 0, 0, 0.7);
  background: -moz-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #acc5e9), color-stop(18%, #a3c0f2), color-stop(39%, #61a0ed), color-stop(70%, #55a3f2), color-stop(92%, #82c2f1), color-stop(100%, #9ad2f2));
  background: -webkit-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: -o-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: -ms-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: linear-gradient(to bottom, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  border-radius: 50px;
}

#menu a.updated {
  background: -moz-linear-gradient(top, #e9aab5 0%, #f2a6ad 18%, #ed5e7b 39%, #f2547c 70%, #f183a8 92%, #f29cbe 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e9aab5), color-stop(18%, #f2a6ad), color-stop(39%, #ed5e7b), color-stop(70%, #f2547c), color-stop(92%, #f183a8), color-stop(100%, #f29cbe));
  background: -webkit-linear-gradient(top, #e9aab5 0%, #f2a6ad 18%, #ed5e7b 39%, #f2547c 70%, #f183a8 92%, #f29cbe 100%);
  background: -o-linear-gradient(top, #e9aab5 0%, #f2a6ad 18%, #ed5e7b 39%, #f2547c 70%, #f183a8 92%, #f29cbe 100%);
  background: -ms-linear-gradient(top, #e9aab5 0%, #f2a6ad 18%, #ed5e7b 39%, #f2547c 70%, #f183a8 92%, #f29cbe 100%);
  background: linear-gradient(to bottom, #e9aab5 0%, #f2a6ad 18%, #ed5e7b 39%, #f2547c 70%, #f183a8 92%, #f29cbe 100%);
}

#menu a.updated:hover {
  background: -moz-linear-gradient(left, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: #acc5e9;
  background: -moz-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #acc5e9), color-stop(18%, #a3c0f2), color-stop(39%, #61a0ed), color-stop(70%, #55a3f2), color-stop(92%, #82c2f1), color-stop(100%, #9ad2f2));
  background: -webkit-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: -o-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: -ms-linear-gradient(top, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
  background: linear-gradient(to bottom, #acc5e9 0%, #a3c0f2 18%, #61a0ed 39%, #55a3f2 70%, #82c2f1 92%, #9ad2f2 100%);
}

#titleContainer {
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background-image: -moz-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: -webkit-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: -o-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
}

.backgroundForSideBarMenu {
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background-image: -moz-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: -webkit-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: -o-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
}

.backgroundForMenus {
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 25%, #dddddd 75%, #eeeeee 100%);
  background-image: -moz-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: -webkit-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: -o-repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
  background-image: repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 2.5%, gainsboro 2.51%, gainsboro 5%);
}

.link {
  border-radius: 50px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5) inset, 0 2px 5px rgba(0, 0, 0, 0.7);
}

.linkSmall, .linkSmall, .settingsHeader button {
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(30%, #f6f6f6), color-stop(45%, #f3f3f3), color-stop(60%, #ededed), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 30%, #f3f3f3 45%, #ededed 60%, #eeeeee 100%);
  border-radius: 50px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5) inset, 0 2px 5px rgba(0, 0, 0, 0.7);
}

.fullScreenMenuUL, .settingsUlSub {
  background: rgba(0, 0, 0, 0);
}
.fullScreenMenuUL li, .settingsUlSub li {
  background-color: rgba(255, 255, 255, 0.33);
  color: black;
}

/*# sourceMappingURL=theme.css.map */
