#menu, .menu {
  position: absolute;
  width: 100%;
  z-index: 20;
  background: #191964;
  padding: 0.5em 1em;
  overflow-y: auto;
}
#menu .index, .menu .index {
  padding: 0.5em 0 0.5em 1em;
}
#menu a, .menu a {
  display: inline-block;
  margin: 0.5em 0;
  background: #2A90EF;
  cursor: pointer;
}
#menu a .menuCounter, .menu a .menuCounter {
  padding-right: 1em;
  display: inline-block;
}
#menu a.updated, .menu a.updated {
  background: #912A2C;
  color: white;
}
#menu a.updated:hover, .menu a.updated:hover {
  background: #FFDDFF;
}
#menu a:not(.index), .menu a:not(.index) {
  padding: 0.5em 1em;
}
#menu a:hover, .menu a:hover {
  color: black;
  background: white;
}
#menu a.active, .menu a.active {
  color: black;
  background: white;
}

#menu2 {
  position: absolute;
  width: 100%;
  z-index: 10;
  background: #3a3a8e;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid white;
  overflow-y: auto;
  overflow-x: hidden;
  top: 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#menu2 a {
  display: inline-block;
  margin: 0.5em 0;
  background: #2A90EF;
  cursor: pointer;
  padding: 0.5em 1em;
}
#menu2 a:hover {
  color: black;
  background: white;
}
#menu2 a.active {
  color: black;
  background: white;
}

.link:hover, .linkSmall:hover {
  color: black;
  background: white;
}

.notificationTriangle {
  border-bottom: 12px solid white;
}

.dropdownHolder {
  color: black;
  background: white;
  border: 1px solid black;
  border-bottom: 3px solid black;
}
.dropdownHolder td {
  color: black;
}
.dropdownHolder th {
  color: black;
}

.linkSmallHover {
  display: inline-block;
  padding: 3px 5px;
  margin: 1px;
  cursor: default;
  line-height: 100%;
  color: black;
  background: white;
  border: 1px solid black;
}

.settingsHeaderButtons {
  float: right;
  margin-top: -4px;
}

#log {
  padding: 1em 0;
  color: white;
}

#titleContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  background: #CCC;
  padding: 0 1em;
  line-height: 2em;
}

.backgroundForSideBarMenu {
  background: #CCC;
  overflow-y: auto;
}

.popupForInfo {
  background: #CCC;
  z-index: 10;
  position: absolute;
  border: 1px solid white;
  color: black;
  width: fit-content;
  padding: 5px;
  word-break: break-all;
}

.currentWindowNum {
  color: white;
}

.backgroundForMenus {
  background: #191964;
}

.sidebarCurrentWindowNum {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
  color: black;
  text-align: center;
}

.currentWindowNumSelected {
  color: white;
  background: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

#title {
  display: inline-block;
}

.settingsDiv {
  background: #3a3a8e;
  border: 1px solid white;
  margin: 10px;
  margin-top: 0;
}

.settingsHeader {
  background: #191964;
  margin: 10px;
  margin-bottom: 0;
  color: white;
  padding: 5px;
}
.settingsHeader .linkSmall:hover {
  border: 1px solid black;
}
.settingsHeader button {
  display: inline-block;
  padding: 3px 5px;
  margin: 1px;
  background: #2A90EF;
  cursor: pointer;
  border: solid 1px white;
  line-height: 100%;
  color: white;
}
.settingsHeader button:hover {
  border: 1px solid black;
  color: black;
  background: white;
}

.selected, .selectDropdown:hover {
  background: white;
  color: black;
}

.settingsDiv p a {
  color: white;
}

.updatingDiv p {
  margin: 2px;
  padding-left: 10px;
  word-wrap: break-word;
}

.settingsBuffer {
  width: 200px;
  display: inline-block;
}

.link {
  display: inline-block;
  padding: 0.5em 1em;
  background: #2A90EF;
  cursor: pointer;
  border: solid 1px white;
  color: white;
}

.linkSmall {
  display: inline-block;
  padding: 3px 5px;
  margin: 1px;
  background: #2A90EF;
  cursor: pointer;
  border: solid 1px white;
  line-height: 100%;
  color: white;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 30;
  background: #2A90EF;
  border: 1px solid white;
  box-shadow: 0 0 5px black;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
}

.context-menu--active {
  display: block;
}

.context-menu__item {
  padding: 5px 3px;
  cursor: pointer;
}
.context-menu__item:hover {
  background: white;
}
.context-menu__item:hover a {
  color: black;
}
.context-menu__item a {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #2A90EF;
  overflow: auto;
  border: 1px solid white;
  box-shadow: 0 0 5px black;
  z-index: 30;
  margin-left: 12px;
  margin-top: -70px;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: black;
}

.dropdown-content__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-content--active {
  display: block;
}

.dropdown-content__item {
  padding: 5px 3px;
  cursor: pointer;
}
.dropdown-content__item:hover {
  background: white;
}

.loadingSpinner {
  padding: 75px;
  background: #3a3a8e;
  border: 1px solid white;
}

.selectDiv {
  background: #2A90EF;
  display: inline-block;
  padding: 2px;
  padding-right: 7px;
  border: 1px solid white;
}
.selectDiv select {
  color: white;
  background: transparent;
  cursor: pointer;
  border: none;
}
.selectDiv option {
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191964;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

#fullScreenMenu {
  background: rgba(0, 0, 0, 0.7);
}
#fullScreenMenu .selected:not(.noInvert) {
  filter: invert(100%);
}

.fullScreenMenuUL li {
  background: black;
  color: white;
}

.fullScreenMenuUL {
  background: black;
  border-right: 1px solid white;
}
.fullScreenMenuUL li:not(.menuTitle):hover {
  filter: invert(100%);
}

.fullScreenMenuLeftSidebar {
  background: black;
  border-right: 1px solid white;
}
.fullScreenMenuLeftSidebar div {
  background: black;
  color: white;
}
.fullScreenMenuLeftSidebar td {
  background: black;
  color: white;
}

.settingsUlSub {
  background: black;
  border-right: 1px solid white;
}

.notificationPreviewLog {
  border: 1px solid white;
}

.noNotificationsNotification {
  background-color: #3a3a8e;
  color: white;
}

.log table:not(.oneLogTable):not(.logCode) tr:not(.highlight):not(.newLine) td:not(.highlight):not(.newLine) div.settingsDiv {
  color: black;
}

/*# sourceMappingURL=theme.css.map */
