#menu {
	position: absolute;
	width: 100%;
	z-index: 20;
	padding: .5em 1em;
	max-height: 300px;
	border-bottom: 1px solid white;
	overflow-y: auto;
	background: repeating-linear-gradient(45deg, rgba(25,40,55,0.75) 35%, rgba(65,85,100,0.75) 40%, rgba(65,85,100,0.75) 42%, rgba(25,40,55,0.75) 50%, rgba(25,40,55,0.75) 55%, rgba(70,85,100,0.75) 60%, rgba(70,85,100,0.75) 75%, rgba(25,40,55,0.75) 90%);
}

.backgroundForMenus{
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	background: repeating-linear-gradient(45deg, rgba(25,40,55,0.75) 35%, rgba(65,85,100,0.75) 40%, rgba(65,85,100,0.75) 42%, rgba(25,40,55,0.75) 50%, rgba(25,40,55,0.75) 55%, rgba(70,85,100,0.75) 60%, rgba(70,85,100,0.75) 75%, rgba(25,40,55,0.75) 90%);
	box-shadow: inset 0 0 0 1px rgba(246,246,247,0.92), 0 7px 19px rgba(0,0,0,0.9);
	background-attachment: fixed;
	background-clip: padding-box;
	color: white;
}

#main
{
	background-color: #CCCCCC;
}

#menu2 {
	position: absolute;
	width: 100%;
	z-index: 10;
	background-color: #ddd;
	padding: .25em .5em;
	max-height: 300px;
	border-bottom: 1px solid white;
	overflow-y: auto;
	overflow-x: hidden;
	top: 55px;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

#menu a, #menu2 a {
	display: inline-block;
	margin: .5em 0;
	background-color: rgba(0,0,0,.2);
	border: 1px solid white;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

#menu .index{
	padding: .5em 0 .5em 1em;
}

#menu2 a, #menu a:not(.index) {
	padding: .5em 1em;
}

#menu a .menuCounter{
	padding-right: 1em;
	display: inline-block;
}

#menu a:hover, #menu a.active, #menu2 a:hover, #menu2 a.active, .link:hover, .linkSmall:hover, .settingsHeader button:hover {
	color: black;
	background-color: white ; 
}

#notificationHolder td, #notificationHolder th
{
	color: white;
}

.notificationTriangle {
  border-bottom: 12px solid black;
}

#notificationHolder {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-bottom: 3px solid white;
}


.linkSmallHover
{
	display: inline-block;
	padding: 3px 5px;
	margin: 1px;
	cursor: default;
	line-height: 100%;
	color: black;
	background-color: white;
}

.settingsHeader button:hover, .settingsHeader .linkSmall:hover{
	border: 1px solid black;
}

.settingsHeaderButtons{
	float: right;
	margin-top: -4px;
}

#menu a.updated {
	background-color: #912A2C; 
}

#menu a.updated:hover {
	background-color: #FFDDFF; 
}

#log {
	padding: 1em 0;
	color: black;
}

#titleContainer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: #ccc;
	padding: 0 1em;
	line-height: 2em;
}

.backgroundForSideBarMenu
{
	box-shadow: 0px 5px 10px rgba(0,0,0,.5);
	background: repeating-linear-gradient(45deg, rgba(25,40,55,0.75) 35%, rgba(65,85,100,0.75) 40%, rgba(65,85,100,0.75) 42%, rgba(25,40,55,0.75) 50%, rgba(25,40,55,0.75) 55%, rgba(70,85,100,0.75) 60%, rgba(70,85,100,0.75) 75%, rgba(25,40,55,0.75) 90%);
	box-shadow: inset 0 0 0 1px rgba(246,246,247,0.92), 0 7px 19px rgba(0,0,0,0.9);
	background-attachment: fixed;
	background-clip: padding-box;
	color: white;
	overflow-y: auto;
}

.popupForInfo
{
	background-color: black;
  	border: 1px solid white;
  	box-shadow: 0 0 5px black;
  	color: white;
	z-index: 10;
	position: absolute;
	width: fit-content;
	padding: 5px;
	word-break: break-all;
}

.currentWindowNum
{
	color: white;
}

.sidebarCurrentWindowNum
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: white;
	color: black;
	text-align: center;
}

.currentWindowNumSelected
{
	color: white;
	background-color: black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

#title{
	display: inline-block;
	text-shadow: 0 0 2px black, 0 0 5px black, 0 0 9px black, 0 0 14px black, 0 0 20px black;
}

.settingsDiv
{
	background-color: #444444;
	border: 1px solid white;
	margin: 10px;
	margin-top: 0;
}

.settingsHeader
{
	background-color: #CCC;
	margin: 10px;
	margin-bottom: 0;
	color: black;
	padding: 5px;
}

.selected
{
	background-color: #CCC;
	color: black;
}

.settingsDiv p a
{
	color: white;
}

.updatingDiv p
{
	margin: 2px;
	padding-left: 10px;
	word-wrap: break-word;
}

.settingsBuffer
{
	width: 200px;
	display: inline-block;
}

.link
{
	display: inline-block;
	padding: .5em 1em;
	background-color: rgba(0,0,0,.2);
	cursor: pointer;
	color: white;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

.linkSmall, .linkSmall, .settingsHeader button
{
	display: inline-block;
	padding: 3px 5px;
	margin: 1px;
	background-color: rgba(0,0,0,.2);
	cursor: pointer;
	line-height: 100%;
	color: white;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 30;
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 0 5px black;
  color: white;
}

.context-menu__items{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 0;
}

.context-menu--active {
  display: block;
}

.context-menu__item{
	padding: 5px 3px;
	cursor: pointer;
}

.context-menu__item:hover{
	background-color: white;
}

.context-menu__item a{
	color: white;
}

.context-menu__item:hover a{
	color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    overflow: auto;
    border: 1px solid white;
 	box-shadow: 0 0 5px black;
    z-index: 30;
    margin-left: 12px;
    margin-top: -70px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: black;
}

.dropdown-content__items{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 0;
}

.dropdown-content--active {
  display: block;
}

.dropdown-content__item{
	padding: 5px 3px;
	cursor: pointer;
}

.dropdown-content__item:hover{
	background-color: white;
}

.loadingSpinner{
	padding: 75px;
	background-color: #333;
	border: 1px solid white;
}

.selectDiv{
	background-color: #6B8E23;
	display: inline-block;
	padding: 2px;
	padding-right: 7px;
	border: 1px solid grey;
	border-radius: 3px;
}

.selectDiv select{
	color: white;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

.selectDiv option{
	color: black;
}

/* width */
::-webkit-scrollbar
{
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
	background: rgba(65,85,100,1);
}

/* Handle */
::-webkit-scrollbar-thumb
{
	background: rgba(255,255,255,1);
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
	background: rgba(50,50,50,1);
}

.fullScreenMenuUL
{
	background: repeating-linear-gradient(45deg, rgba(25,40,55,0.75) 35%, rgba(65,85,100,0.75) 40%, rgba(65,85,100,0.75) 42%, rgba(25,40,55,0.75) 50%, rgba(25,40,55,0.75) 55%, rgba(70,85,100,0.75) 60%, rgba(70,85,100,0.75) 75%, rgba(25,40,55,0.75) 90%);
	border-right: 1px solid white;
}

.settingsUlSub
{
	background-color: rgba(0,0,0,.25);
	border-right: 1px solid white;
}

#fullScreenMenu
{
	background-color: rgba(0,0,0,.3);
}

.fullScreenMenuUL li
{
	color: white;
}

.fullScreenMenuUL li:not(.menuTitle):hover, #fullScreenMenu .selected
{
	background-color: black;
	filter: invert(100%);
}