$mainColor: white;
$mainAltColor: black;
$backgroundColor: #281b06;
$backgroundColorAlt: #c4ad89;
$backgroundColorTwo: #44412e;
$linkColor: #684E32;
$linkFontColor: white;
$updated: #FFAE42;
$updatedColor: black;
$updateHighlight:  #FFECD3;