$mainColor: white;
$mainAltColor: black;
$backgroundColor: #111;
$backgroundColorAlt: #CCC;
$backgroundColorTwo: #444;
$linkColor: #379b02;
$updated: #c21a00;
$updatedColor: black;
$updateHighlight:  #efbcb3;