$mainColor: #8BBEB2;
$mainAltColor: black;
$backgroundColor: #090a0f;
$backgroundColorAlt: #ccc;
$backgroundColorTwo: #1c1f30;
$linkColor: #18314F;
$updated: #E6F9AF;
$updatedColor: black;
$updateHighlight:  #C0FAD7;