#menu, .menu {
	background: $backgroundColor;

	a{
		background: $linkColor;
		color: $linkFontColor;

		&.updated {
			background: $updated;
			color: $updatedColor;

			&:hover {
				background: $updateHighlight;
			}
		}

		&:hover{
			color: $mainAltColor;
			background: $mainColor;
		}

		&.active{
			color: $mainAltColor;
			background: $mainColor;
		}
	}
}

#menu2 {
	background: $backgroundColorTwo;
	border-bottom: 1px solid $mainColor;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);

	a{
		background: $linkColor;
		color: $linkFontColor;

		&:hover{
			color: $mainAltColor;
			background: $mainColor;
		}

		&.active{
			color: $mainAltColor;
			background: $mainColor;
		}
	}
}

.link:hover, .linkSmall:hover{
	color: $mainAltColor;
	background: $mainColor;
}

.notificationTriangle {
  border-bottom: 12px solid $mainColor;
}

.dropdownHolder {
  	color: $mainAltColor;
	background: $mainColor;
  	border: 1px solid $mainAltColor;
  	border-bottom: 3px solid $mainAltColor;

  td{
  	color: $mainAltColor;
  }
  th{
  	color: $mainAltColor;
  }
}

.linkSmallHover {
	color: $mainAltColor;
	background: $mainColor;
	border: 1px solid $mainAltColor;
}

#log {
	color: $mainColor;
}

#titleContainer {
	color: $mainAltColor;
	background: $backgroundColorAlt;
}

.backgroundForSideBarMenu {
	background: $backgroundColorAlt;
}

.popupForInfo {
	background: $backgroundColorAlt;
	border: 1px solid $mainColor;
	color: $mainAltColor;
}

.currentWindowNum {
	color: $mainColor;
}

.backgroundForMenus {
	background: $backgroundColor;
}

.sidebarCurrentWindowNum {
	border-top: 1px solid $mainAltColor;
	border-bottom: 1px solid $mainAltColor;
	background: $mainColor;
	color: $mainAltColor;
}

.currentWindowNumSelected {
	color: $mainColor;
	background: $mainAltColor;
	border-top: 1px solid $mainAltColor;
	border-bottom: 1px solid $mainAltColor;
}

.settingsDiv {
	background: $backgroundColorTwo;
	border: 1px solid $mainColor;
}

/*has to be here to override*/
.settingsDivRemoveTop{
  border-top: 0;
}

.settingsDivRemoveBottom{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.settingsHeader {
	background: $backgroundColor;
	color: $mainColor;

	.linkSmall:hover{
		border: 1px solid $mainAltColor;
	}

	button {
		background: $linkColor;
		border: solid 1px $mainColor;
		color: $mainColor;
	}

	button:hover{
		border: 1px solid $mainAltColor;
		color: $mainAltColor;
		background: $mainColor;
	}
}

.settingsDiv p a {
	color: $mainColor;
}

.link {
	background: $linkColor;
	border: solid 1px $mainColor;
	color: $mainColor;
}

.linkSmall{
	background: $linkColor;
	border: solid 1px $mainColor;
	color: $mainColor;
}

.selected , .selectDropdown:hover{
	background: $mainColor;
	color: $mainAltColor;
}

.context-menu {
  background: $linkColor;
  border: 1px solid $mainColor;
  box-shadow: 0 0 5px $mainAltColor;
}

.context-menu__item{

	&:hover{
		background: $mainColor;

		a{
			color: $mainAltColor;
		}
	}

	a{
		color: $mainColor;
	}
}

.dropdown-content {
    background: $linkColor;
    border: 1px solid $mainColor;
 	box-shadow: 0 0 5px $mainAltColor;

    a {
	    color: $mainColor;

	    &:hover {
		    color: $mainAltColor;
		}
	}
}

.dropdown-content__item{

	&:hover{
		background: $mainColor;
	}
}

.loadingSpinner{
	background: $backgroundColorTwo;
	border: 1px solid $mainColor;
}

.selectDiv{
	background: $linkColor;
	border: 1px solid $mainColor;

	select{
		color: $mainColor;
	}

	option{
		color: $mainAltColor;
	}
}

/* Track */
::-webkit-scrollbar-track {
	background: $backgroundColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $backgroundColorAlt;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $mainColor;
}

.fullScreenMenuUL {
	background: $mainAltColor;
	border-right: 1px solid $mainColor;

	li {
		background: $mainAltColor;
		color: $mainColor;
	}
}

.fullScreenMenuLeftSidebar {
	background: $mainAltColor;
	border-right: 1px solid $mainColor;

	div{
		background: $mainAltColor;
		color: $mainColor;
	}
	td{
		background: $mainAltColor;
		color: $mainColor;
	}
	a{
		color: $mainColor;
		&:visited {
			color: $mainColor;
		}
	}
}

.settingsUlSub {
	background: $mainAltColor;
	border-right: 1px solid $mainColor;
}

.notificationPreviewLog {
	border: 1px solid $mainColor;
}

.noNotificationsNotification{
  background-color: $backgroundColorTwo;
  color: $mainColor;
}

.log table:not(.oneLogTable):not(.logCode) tr:not(.highlight):not(.newLine) td:not(.highlight):not(.newLine) div.settingsDiv{
	color: $mainColor;
}