body {
    border: 0;
    margin: 0;
    background-color: lightgray;
}

.link {
    text-decoration: none;
    padding: 5px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    color: black;
}

.link:hover {
    background: black;
    color: white;
}
.list {
    list-style: none;

    li {
        padding: 10px;
    }
}
.tableRow td {
    background-color: lightgrey;
    vertical-align: top;
}

.errorMessage {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    min-height: 100px;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
}

#popup {
    background-color: #444444;
    border: 1px solid black;
    display: none;
    color: white;
}

h1 {
    line-height: 60px;
}

.warningImage {
    vertical-align: middle;
}