#initialLoadContentEvenEvenMoreInfo {
  color: red;
  display: none;
}

#initialLoadContent {
  background-color: #222;
  color: #EEE;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  position: absolute;
  z-index: 1000;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  border: 1px solid white;
}

#initialLoadContentBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: #111115;
}

@media only screen and (max-width: 600px) {

  #initialLoadContent {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }

}