$mainColor: white;
$mainAltColor: black;
$backgroundColor: #222;
$backgroundColorAlt: #CCC;
$backgroundColorTwo: #444;
$linkColor: #2A912A;
$linkFontColor: white;
$updated: #912A2C;
$updatedColor: white;
$updateHighlight:  #FFDDFF;