#menu, .menu {
  position: absolute;
  width: 100%;
  z-index: 20;
  background: #698499;
  padding: 0.5em 1em;
  overflow-y: auto;
}
#menu .index, .menu .index {
  padding: 0.5em 0 0.5em 1em;
}
#menu a, .menu a {
  display: inline-block;
  margin: 0.5em 0;
  background: #777;
  cursor: pointer;
}
#menu a .menuCounter, .menu a .menuCounter {
  padding-right: 1em;
  display: inline-block;
}
#menu a.updated, .menu a.updated {
  background: #912A2C;
  color: black;
}
#menu a.updated:hover, .menu a.updated:hover {
  background: #600e0f;
}
#menu a:not(.index), .menu a:not(.index) {
  padding: 0.5em 1em;
}
#menu a:hover, .menu a:hover {
  color: white;
  background: black;
}
#menu a.active, .menu a.active {
  color: white;
  background: black;
}

#menu2 {
  position: absolute;
  width: 100%;
  z-index: 10;
  background: #415564;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  top: 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#menu2 a {
  display: inline-block;
  margin: 0.5em 0;
  background: #777;
  cursor: pointer;
  padding: 0.5em 1em;
}
#menu2 a:hover {
  color: white;
  background: black;
}
#menu2 a.active {
  color: white;
  background: black;
}

.link:hover, .linkSmall:hover {
  color: white;
  background: black;
}

.notificationTriangle {
  border-bottom: 12px solid black;
}

.dropdownHolder {
  color: white;
  background: black;
  border: 1px solid white;
  border-bottom: 3px solid white;
}
.dropdownHolder td {
  color: white;
}
.dropdownHolder th {
  color: white;
}

.linkSmallHover {
  display: inline-block;
  padding: 3px 5px;
  margin: 1px;
  cursor: default;
  line-height: 100%;
  color: white;
  background: black;
  border: 1px solid white;
}

.settingsHeaderButtons {
  float: right;
  margin-top: -4px;
}

#log {
  padding: 1em 0;
  color: black;
}

#titleContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background: #1f2830;
  padding: 0 1em;
  line-height: 2em;
}

.backgroundForSideBarMenu {
  background: #1f2830;
  overflow-y: auto;
}

.popupForInfo {
  background: #1f2830;
  z-index: 10;
  position: absolute;
  border: 1px solid black;
  color: white;
  width: fit-content;
  padding: 5px;
  word-break: break-all;
}

.currentWindowNum {
  color: black;
}

.backgroundForMenus {
  background: #698499;
}

.sidebarCurrentWindowNum {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: black;
  color: white;
  text-align: center;
}

.currentWindowNumSelected {
  color: black;
  background: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
}

#title {
  display: inline-block;
}

.settingsDiv {
  background: #415564;
  border: 1px solid black;
  margin: 10px;
  margin-top: 0;
}

.settingsHeader {
  background: #698499;
  margin: 10px;
  margin-bottom: 0;
  color: black;
  padding: 5px;
}
.settingsHeader .linkSmall:hover {
  border: 1px solid white;
}
.settingsHeader button {
  display: inline-block;
  padding: 3px 5px;
  margin: 1px;
  background: #777;
  cursor: pointer;
  border: solid 1px black;
  line-height: 100%;
  color: black;
}
.settingsHeader button:hover {
  border: 1px solid white;
  color: white;
  background: black;
}

.selected, .selectDropdown:hover {
  background: black;
  color: white;
}

.settingsDiv p a {
  color: black;
}

.updatingDiv p {
  margin: 2px;
  padding-left: 10px;
  word-wrap: break-word;
}

.settingsBuffer {
  width: 200px;
  display: inline-block;
}

.link {
  display: inline-block;
  padding: 0.5em 1em;
  background: #777;
  cursor: pointer;
  border: solid 1px black;
  color: black;
}

.linkSmall {
  display: inline-block;
  padding: 3px 5px;
  margin: 1px;
  background: #777;
  cursor: pointer;
  border: solid 1px black;
  line-height: 100%;
  color: black;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 30;
  background: #777;
  border: 1px solid black;
  box-shadow: 0 0 5px white;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
}

.context-menu--active {
  display: block;
}

.context-menu__item {
  padding: 5px 3px;
  cursor: pointer;
}
.context-menu__item:hover {
  background: black;
}
.context-menu__item:hover a {
  color: white;
}
.context-menu__item a {
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #777;
  overflow: auto;
  border: 1px solid black;
  box-shadow: 0 0 5px white;
  z-index: 30;
  margin-left: 12px;
  margin-top: -70px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: white;
}

.dropdown-content__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-content--active {
  display: block;
}

.dropdown-content__item {
  padding: 5px 3px;
  cursor: pointer;
}
.dropdown-content__item:hover {
  background: black;
}

.loadingSpinner {
  padding: 75px;
  background: #415564;
  border: 1px solid black;
}

.selectDiv {
  background: #777;
  display: inline-block;
  padding: 2px;
  padding-right: 7px;
  border: 1px solid black;
}
.selectDiv select {
  color: black;
  background: transparent;
  cursor: pointer;
  border: none;
}
.selectDiv option {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #698499;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f2830;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

#fullScreenMenu {
  background: rgba(0, 0, 0, 0.7);
}
#fullScreenMenu .selected:not(.noInvert) {
  filter: invert(100%);
}

.fullScreenMenuUL {
  background: white;
  border-right: 1px solid black;
}
.fullScreenMenuUL li {
  background: white;
  color: black;
}
.fullScreenMenuUL li.subMenuTitle {
  background-color: #999;
  color: black;
}
.fullScreenMenuUL li:not(.menuTitle):hover {
  filter: invert(100%);
}

.fullScreenMenuLeftSidebar {
  background: white;
  border-right: 1px solid black;
}
.fullScreenMenuLeftSidebar div {
  background: white;
  color: black;
}
.fullScreenMenuLeftSidebar td {
  background: white;
  color: black;
}
.fullScreenMenuLeftSidebar a {
  color: black;
}
.fullScreenMenuLeftSidebar a:visited {
  color: black;
}

.settingsUl {
  color: black;
}

.settingsUlSub {
  background: white;
  border-right: 1px solid black;
}

.notificationPreviewLog {
  border: 1px solid black;
}

.noNotificationsNotification {
  background-color: #415564;
  color: black;
}

.log table:not(.oneLogTable):not(.logCode) tr:not(.highlight):not(.newLine) td:not(.highlight):not(.newLine) div.settingsDiv {
  color: black;
}

body {
  background-color: #DDD;
}

#main {
  background-color: #DDD;
}

#menu {
  background: repeating-linear-gradient(45deg, rgba(25, 40, 55, 0.75) 35%, rgba(65, 85, 100, 0.75) 40%, rgba(65, 85, 100, 0.75) 42%, rgba(25, 40, 55, 0.75) 50%, rgba(25, 40, 55, 0.75) 55%, rgba(70, 85, 100, 0.75) 60%, rgba(70, 85, 100, 0.75) 75%, rgba(25, 40, 55, 0.75) 90%);
}

.backgroundForMenus {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background: repeating-linear-gradient(45deg, rgba(25, 40, 55, 0.75) 35%, rgba(65, 85, 100, 0.75) 40%, rgba(65, 85, 100, 0.75) 42%, rgba(25, 40, 55, 0.75) 50%, rgba(25, 40, 55, 0.75) 55%, rgba(70, 85, 100, 0.75) 60%, rgba(70, 85, 100, 0.75) 75%, rgba(25, 40, 55, 0.75) 90%);
  box-shadow: inset 0 0 0 1px rgba(246, 246, 247, 0.92), 0 7px 19px rgba(0, 0, 0, 0.9);
  background-attachment: fixed;
  background-clip: padding-box;
}

.backgroundForSideBarMenu {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background: repeating-linear-gradient(45deg, rgba(25, 40, 55, 0.75) 35%, rgba(65, 85, 100, 0.75) 40%, rgba(65, 85, 100, 0.75) 42%, rgba(25, 40, 55, 0.75) 50%, rgba(25, 40, 55, 0.75) 55%, rgba(70, 85, 100, 0.75) 60%, rgba(70, 85, 100, 0.75) 75%, rgba(25, 40, 55, 0.75) 90%);
  box-shadow: inset 0 0 0 1px rgba(246, 246, 247, 0.92), 0 7px 19px rgba(0, 0, 0, 0.9);
  background-attachment: fixed;
  background-clip: padding-box;
}

#title {
  text-shadow: 0 0 2px black, 0 0 5px black, 0 0 9px black, 0 0 14px black, 0 0 20px black;
}

.fullScreenMenuUL {
  background: repeating-linear-gradient(45deg, rgba(25, 40, 55, 0.75) 35%, rgba(65, 85, 100, 0.75) 40%, rgba(65, 85, 100, 0.75) 42%, rgba(25, 40, 55, 0.75) 50%, rgba(25, 40, 55, 0.75) 55%, rgba(70, 85, 100, 0.75) 60%, rgba(70, 85, 100, 0.75) 75%, rgba(25, 40, 55, 0.75) 90%);
}

.fullScreenMenuLeftSidebar {
  background: repeating-linear-gradient(45deg, rgba(25, 40, 55, 0.75) 35%, rgba(65, 85, 100, 0.75) 40%, rgba(65, 85, 100, 0.75) 42%, rgba(25, 40, 55, 0.75) 50%, rgba(25, 40, 55, 0.75) 55%, rgba(70, 85, 100, 0.75) 60%, rgba(70, 85, 100, 0.75) 75%, rgba(25, 40, 55, 0.75) 90%);
}

.fullScreenMenuUL li {
  background-color: rgba(65, 85, 100, 0.5);
  color: white;
}

.fullScreenMenuUL {
  background: repeating-linear-gradient(45deg, rgba(25, 40, 55, 0.75) 35%, rgba(65, 85, 100, 0.75) 40%, rgba(65, 85, 100, 0.75) 42%, rgba(25, 40, 55, 0.75) 50%, rgba(25, 40, 55, 0.75) 55%, rgba(70, 85, 100, 0.75) 60%, rgba(70, 85, 100, 0.75) 75%, rgba(25, 40, 55, 0.75) 90%);
}

.fullScreenMenuLeftSidebar {
  background: repeating-linear-gradient(45deg, rgba(25, 40, 55, 0.75) 35%, rgba(65, 85, 100, 0.75) 40%, rgba(65, 85, 100, 0.75) 42%, rgba(25, 40, 55, 0.75) 50%, rgba(25, 40, 55, 0.75) 55%, rgba(70, 85, 100, 0.75) 60%, rgba(70, 85, 100, 0.75) 75%, rgba(25, 40, 55, 0.75) 90%);
}
.fullScreenMenuLeftSidebar div {
  background: repeating-linear-gradient(45deg, rgba(25, 40, 55, 0.75) 35%, rgba(65, 85, 100, 0.75) 40%, rgba(65, 85, 100, 0.75) 42%, rgba(25, 40, 55, 0.75) 50%, rgba(25, 40, 55, 0.75) 55%, rgba(70, 85, 100, 0.75) 60%, rgba(70, 85, 100, 0.75) 75%, rgba(25, 40, 55, 0.75) 90%);
  color: white;
}
.fullScreenMenuLeftSidebar td {
  background: repeating-linear-gradient(45deg, rgba(25, 40, 55, 0.75) 35%, rgba(65, 85, 100, 0.75) 40%, rgba(65, 85, 100, 0.75) 42%, rgba(25, 40, 55, 0.75) 50%, rgba(25, 40, 55, 0.75) 55%, rgba(70, 85, 100, 0.75) 60%, rgba(70, 85, 100, 0.75) 75%, rgba(25, 40, 55, 0.75) 90%);
  color: white;
}

/*# sourceMappingURL=theme.css.map */
