$mainColor: #009900;
$mainAltColor: black;
$backgroundColor: #111;
$backgroundColorAlt: #CCC;
$backgroundColorTwo: #333;
$linkColor: #2A912A;
$linkFontColor: black;
$updated: #1D263B;
$updatedColor: white;
$updateHighlight:  #5C6784;