$mainColor: white;
$mainAltColor: black;
$backgroundColor: #191964;
$backgroundColorAlt: #CCC;
$backgroundColorTwo: #3a3a8e;
$linkColor: #2A90EF;
$linkFontColor: white;
$updated: #912A2C;
$updatedColor: white;
$updateHighlight:  #FFDDFF;