$mainColor: black;
$mainAltColor: white;
$backgroundColor: #698499;
$backgroundColorAlt: #1f2830;
$backgroundColorTwo: #415564;
$linkColor: #777;
$linkFontColor: white;
$updated: #912A2C;
$updatedColor: black;
$updateHighlight:  #600e0f;