$mainColor: white;
$mainAltColor: black;
$backgroundColor: #777;
$backgroundColorAlt: #eee;
$backgroundColorTwo: #444;
$linkColor: #88e2df;
$linkFontColor: black;
$updated: #e9aab5;
$updatedColor: black;
$updateHighlight:  #acc5e9;